package {{.EntityNameLoweCase}}{{.Version}}service

import (
	"context"

    "{{.ModuleName}}/pkg/{{.EntityNameLoweCase}}/{{.Version}}"
    "{{.ModuleName}}/pkg/{{.EntityNameLoweCase}}/{{.Version}}/dto"
)

// Find ...
func (s service) Find(ctx context.Context, f {{.EntityNameLoweCase}}{{.Version}}.Filter) (*{{.EntityNameLoweCase}}{{.Version}}dto.FindResponse, error) {
    var (
        err error
        data []*{{.EntityNameLoweCase}}{{.Version}}.Domain
    )
    if data, err = s.{{.EntityNamePascalCase}}Repository.Find(ctx, f); err != nil {
        return nil, err
    }
    return &{{.EntityNameLoweCase}}{{.Version}}dto.FindResponse{
        Data: data,
    }, nil
}

// Find ...
func (m *Mock) Find(ctx context.Context, f {{.EntityNameLoweCase}}{{.Version}}.Filter) (*{{.EntityNameLoweCase}}{{.Version}}dto.FindResponse, error) {
	args := m.Called(ctx, f)
	return args.Get(0).(*{{.EntityNameLoweCase}}{{.Version}}dto.FindResponse), args.Error(1)
}