package {{.EntityNameLoweCase}}{{.Version}}service

import (
    "gorm.io/gorm"

    "{{.ModuleName}}/pkg/{{.EntityNameLoweCase}}/{{.Version}}"
    "{{.ModuleName}}/pkg/{{.EntityNameLoweCase}}/{{.Version}}/repository"
)

type service struct {
    {{.EntityNamePascalCase}}Repository {{.EntityNameLoweCase}}{{.Version}}.Repository
}

// New ...
func New(db *gorm.DB) {{.EntityNameLoweCase}}{{.Version}}.Service {
	return service {
        {{.EntityNamePascalCase}}Repository: {{.EntityNameLoweCase}}{{.Version}}repository.New(db),
	}
}