package {{.EntityNameLoweCase}}{{.Version}}repository

import (
	"context"

	"{{.ModuleName}}/pkg/{{.EntityNameLoweCase}}/{{.Version}}"
)

// FindOne ...
func (r repository) FindOne(ctx context.Context, f {{.EntityNameLoweCase}}{{.Version}}dto.Filter) (data *{{.EntityNameLoweCase}}{{.Version}}dto.Domain, err error) {
	if err = r.db.WithContext(ctx).Scopes(f.Apply).Take(&data).Error; err!=nil {
	    return nil, err
	}
	return
}

// FindOne ...
func (m *Mock) FindOne(ctx context.Context, f {{.EntityNameLoweCase}}{{.Version}}dto.Filter) (*{{.EntityNameLoweCase}}{{.Version}}dto.Domain, error) {
	args := m.Called(ctx, f)
	return args.Get(0).(*{{.EntityNameLoweCase}}{{.Version}}.Domain), args.Error(1)
}