package repository{{.EntityNameLoweCase}}{{.Version}}

import (
	"github.com/stretchr/testify/mock"
	"gorm.io/gorm"

	"{{.ModuleName}}/internal/domain/{{.EntityNameLoweCase}}/{{.Version}}"
)

// Mock ...
type Mock struct {
	mock.Mock
}

var _ {{.EntityNameLoweCase}}{{.Version}}.Repository = new(Mock)

// WithTx ...
func (m *Mock) WithTx(db *gorm.DB) {{.EntityNameLoweCase}}{{.Version}}.Repository {
	return m.Called(db).Get(0).({{.EntityNameLoweCase}}{{.Version}}.Repository)
}