package {{.EntityNameLoweCase}}{{.Version}}repository

import (
    "gorm.io/gorm"

    "{{.ModuleName}}/pkg/{{.EntityNameLoweCase}}/{{.Version}}"
    "{{.ModuleName}}/pkg/{{.EntityNameLoweCase}}/{{.Version}}/dto"
)

type repository struct {
    db *gorm.DB
}

// New ...
func New(db *gorm.DB) {{.EntityNameLoweCase}}{{.Version}}.Repository {
    return repository{
        db: db.Model(&{{.EntityNameLoweCase}}{{.Version}}dto.Domain{}),
    }
}

// WithTx ...
func (r repository) WithTx(tx *gorm.DB) {{.EntityNameLoweCase}}{{.Version}}.Repository {
	return repository {
		db: tx.Model(&{{.EntityNameLoweCase}}{{.Version}}dto.Domain{}),
	}
}